

.header {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background-color: white;
  margin: 92px 24px 96px 24px;
}

.header_menu {
  grid-column: 1/3;
  align-self: center;
  font-family: Raleway, Arial, sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 21.13px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}

.header_menu_list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: circle;
  min-width: 100%;
}

.header_menu_list li:first-child {
  list-style-type: none;
}

.header_link_active {
  text-decoration: none;
}

.header_logo {
  display: block;
  width: 148px;
  max-height: 100%;
  align-self: center;
  justify-self: center;
}

.header_logo-image {
  display: block;
  width: 148px;
  height: 105px;
  max-width: 100%;
  max-height: 100%;
}

.address {
  font-family: Raleway, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 24.3px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-position: from-font;
 
}

.header__address {
  grid-column: 4/6;
  margin: 5px 26px 2px 0px;
  align-self: center;
  justify-self: right;
  text-decoration-skip-ink: none;
}

.header__address ul {
    list-style: none;
}

.cover {
  display: flex;
  flex-direction: column;
  width: 1100px;
  min-height: 757px ;
  margin: 0;
  gap: 135px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;
}

.overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  gap: 0;
  background-color: rgb(0 0 0/0.6);
  position: absolute;
}

.cover__title {
  display: flex;
  flex-direction: column;
  color: white;
  width: 1000px;
  font-size: 100px;
  gap: 20px;
  margin: 0px 50px;
  margin-top: 165px;
  letter-spacing: 0.30em;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  margin-left: 78px;
  color: white;
  margin-top: 135px;
  margin-right: 50px;
}

.cover__description-text {
  display: flex;
  font-family: Raleway, Arial, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
  align-items: center;
  justify-content: space-between;
  word-spacing: 1.2em;
}


.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.aligned-text_center {
  align-self: center;
  font-weight: 700;
  line-height: 100px;
  letter-spacing: 0.3em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-right: 1px;
}

.aligned-text_right {
  align-items: end;
  font-weight: 700;
  line-height: 100px;
  text-align: right;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.bet-button {
  justify-self: flex-end;
  width: 256px;
  min-height: 51px;
  background-color: transparent;
  border-color: white;
  color: white;
  font-family: Raleway;
  font-size: 22px;
  font-weight: 500;
  line-height: 25.83px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
}

.lots {
  color: black;
  width: 1052px;
  margin: 179px 24px 0px 24px;
}

.lots__heading {
  display: flex;
  font-family: Raleway, Arial, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
  margin-left: 40px;
}

.card{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 24px;
  gap: 25px;

}

.lots__card-list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 334px;
  min-height: 563px;
  z-index: 10;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.lots__card-list {
  list-style: none;
  width: 334px;
  min-height: 563px;
  gap: 0px;
  position: relative;
  z-index: 1;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  font-family: Raleway, Arial, sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
  color: white;
  text-align: left;
  margin: 51px 40px 0px 40px;
  position: relative;
}

.card__text {
  font-family: Raleway, Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;
  margin: 0px 40px 48px 40px;
  position: relative;
}

.lots__look-more-link {
  font-family: Raleway, Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.48px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-left: 40px;
  margin-top: 30px;
  margin-bottom: 2px;
  display: block;
  text-decoration: underline;
}

.about {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 2fr 1fr;
  color: black;
  margin: 146px 24px 0px 24px;
  align-items: center;
}

.about__column {
  grid-column: 2/3;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-self: end;
  row-gap: 100px;
  margin-top: 133px;
}

.about__text {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  text-align: left;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  row-gap: 24px;
}

.about__title {
  text-transform: uppercase;
  font-family: Raleway, Arial, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.about__logo {
  display: flex;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  margin-left: 47px;
}

.about__inlogo {
  width: 148px;
  height: 114px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: black;
  margin: 180px 50px 88px 50px;
  width: 1000px;
  justify-content: space-between;
}

.footer__address {
  list-style: none;
  justify-self: start;
  margin-top: 0;
}

.footer__address ul {
    list-style: none;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.footer__menu-list {
  text-align: center;
  list-style: none;
}

.footer__menu-link {
 margin: 0;
}

.footer__social-list{
    display: flex;
    justify-content: end;
    gap: 48px;
    list-style: none;
}

.footer__social-list-item  {
    grid-column: 3;
    margin-top: 1px;
    width: 48px;
    height: 48px;
}
  
.footer__social-link {
 
  }
  

