

.header 
{
    display: flex;
    margin: auto;

}

.header_link_activ 
.header_link-list-item 
{
    text-decoration: none;

}

.header_logo
{
display: block;
width: 200px;
height: 200px;
}

.header_logo-image
{
display: block;
max-width: 100%; 
height: auto;
}

.adress 
{
    display: block;
    margin: 0;

}

.header__address 
{
    list-style: none; 
}